.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav {
  display: flex;
  justify-content: space-evenly;
  background-color:#4c516d;
  color: white;
  padding: 1vmax;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}
.nav > a:hover{
  color: #b4b8c0;
}

.dashboard{
 padding: 1vmax;
  border: 1px solid red;
  margin: 0 auto;
  /* width: 100%; */
  max-width: 100vmax;
  text-align: left;
}
table{
  border: 1px solid greenyellow;
  width: 80%;
  max-width: 80vmax;
  margin: 0 auto;
  background-color:  	#eaeaea;
  font-size: 1.4em;
  /* border-collapse:separate;  */
  border-spacing: 0 1em;
}
tr{
  margin: 10px;
}
tr:nth-child(even) {
  background-color:#979aaa;
}